/* Footer Styles */
.site-footer {
    background-color: #6C584C; /* Umber */
    color: #F0EAD2; /* Parchment */
    padding: 0 1.5rem;
    box-shadow: 0 2px 5px rgba(108, 88, 76, 0.2);
    height: 60px; /* Reduced height */
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 0;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #ADC178; /* Olivine */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #DDE586; /* Tea green */
}

.footer-copy {
    color: #ADC178; /* Olivine */
    text-decoration: none;
    transition: color 0.3s;
}
